# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/minha-conta
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/minha-conta

# Ecwid
ECWID_API_TOKEN=your_ecwid_api_token
ECWID_STORE_ID=134156251
